// Style for the Quiz block
.gtb-quiz {
	$self: &;

	&__remove-question {
		position: absolute;
		right: 0;
		top: -8px;
		height: auto;
		padding: 0;
	}

	&__remove-answer {
		padding: 0;
		height: auto;
		position: relative;
		top: 0.5rem;
	}

	&__correct-answer {
		margin-block: 1.5rem;
	}

	.components-button {
		display: inline-block;
	}

	&__wrapper {
		display: grid;
		grid-template-columns: 1fr;
		gap: 1rem;
	}

	&__question {
		padding: 1rem;
		box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
		border-radius: 4px;
		transition: box-shadow 0.3s ease;

		&:hover {
			box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
		}
	}

	&__question-title {
		font-size: 1.5rem;
		margin-top: 0;
	}

	&__answer-option {

		label {
			cursor: pointer;
		}
	}

	&__action-button {
		margin-top: 1rem;
		padding: 1rem 2rem;
		cursor: pointer;
		border-radius: 4px;
		transition: all 0.3s ease;
		border: 1px solid var(--wp--preset--color--contrast);
		background-color: var(--wp--preset--color--contrast);
		color: var(--wp--preset--color--base);
		font-size: var(--wp--preset--font-size--medium);

		&:hover {
			background-color: var(--wp--preset--color--contrast-2, #101010);
			border-color: var(--wp--preset--color--contrast-2);
			color: var(--wp--preset--color--base);
		}
	}

	&__answer {
		display: flex;
		align-items: center;

		&:not(:last-child) {
			margin-bottom: 1rem;
		}

		&-input {
			position: absolute;
			opacity: 0;
			pointer-events: none;
		}

		&-label {
			position: relative;
			padding-left: 28px;
			cursor: pointer;
			line-height: 20px;
			display: inline-block;
			color: #666;

			&::before {
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				width: 18px;
				height: 18px;
				border: 1px solid #ddd;
				border-radius: 50%;
				background: #fff;
			}

			&::after {
				content: "";
				position: absolute;
				top: 4px;
				left: 4px;
				width: 12px;
				height: 12px;
				background: #008000;
				border-radius: 50%;
				transform: scale(0);
				transition: transform 0.2s ease;
			}
		}

		&-input:checked + &-label {

			&::after {
				transform: scale(1);
			}
		}
	}

	&__status-dialog {
		padding: 20px;
		border: 1px solid #ddd;
		border-radius: 4px;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		min-width: 300px;
	}

	&__dialog-close {
		margin-top: 15px;
		padding: 8px 16px;
		background-color: #f0f0f0;
		border: 1px solid #ddd;
		border-radius: 4px;
		cursor: pointer;
	}

	&__dialog-close:hover {
		background-color: #e0e0e0;
	}
}

::backdrop {
	background-color: rgba(0, 0, 0, 1);
	opacity: 0.75;
}
