// Pricing Table Block Styles
.gtb-pricing {
	$border-color: #e5e5e5;
	$transition-speed: 0.3s;
	$color-contrast: var(--wp--preset--color--contrast);
	$color-base: var(--wp--preset--color--base);

	box-sizing: border-box;
	position: relative;
	text-align: center;

	&__featured {
		font-size: 12px;
		font-weight: 600;
		background-color: #de0dd3;
		color: #fff;
		position: absolute;
		right: 8px;
		top: 8px;
		text-transform: uppercase;
		padding: 4px 8px;
		box-sizing: border-box;
		display: inline-flex;
		border-radius: 4px;
	}

	&__title {
		margin: 0 0 8px;
		font-weight: 600;
	}

	&__subtitle {
		margin: 0;
		font-size: 1rem;
	}

	&__price {
		font-weight: 600;
		position: relative;
		padding-bottom: 1.5rem;

		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 50%;
			width: 60px;
			height: 1px;
			background-color: $border-color;
			transform: translateX(-50%);
		}
	}

	&__button {
		justify-self: center;
	}

	&__features {
		margin: 0 0 1.5rem;
		padding: 0;
		list-style: none;

		li {
			font-size: 16px;
			padding: 4px 0;

			&:not(:last-child) {
				border-bottom: 1px solid $border-color;
			}
		}
	}
}
