.gtb-pricing {
	text-align: center;
	position: relative;

	&__featured {
		font-size: 12px;
		font-weight: 600;
		background-color: rgb(222, 13, 211);
		color: #fff;
		position: absolute;
		right: 0;
		top: 0;
		text-transform: uppercase;
		padding: 4px 8px;
		transform: translateX(50%);
	}

	&__title {
		margin: 0 0 8px;
		font-weight: 600;
	}

	&__subtitle {
		margin: 0;
		font-size: 1rem;
	}

	&__price-wrapper {
		margin: 20px 0;
		padding-bottom: 20px;
		position: relative;
		font-size: 18px;

		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 50%;
			width: 60px;
			height: 1px;
			background-color: #e5e5e5;
			transform: translateX(-50%);
		}
	}

	&__price {
		font-weight: 600;
	}

	&__button-link {
		margin-top: 1rem;
		padding: 0.5rem 2rem;
		cursor: pointer;
		border-radius: 4px;
		transition: all 0.3s ease;
		border: 1px solid var(--wp--preset--color--contrast);
		background-color: var(--wp--preset--color--contrast);
		color: var(--wp--preset--color--base);
		font-size: var(--wp--preset--font-size--small);
		text-decoration: none;
		display: inline-block;

		&:hover {
			background-color: var(--wp--preset--color--contrast-2, #101010);
			border-color: var(--wp--preset--color--contrast-2);
			color: var(--wp--preset--color--base);
		}
	}

	&__features {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			font-size: 16px;
			padding: 4px 0;

			&:not(:last-child) {
				border-bottom: 1px solid #e5e5e5;
			}
		}
	}
}
