/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.gtb-posts-grid {
	$self: &;

	display: grid;
	grid-gap: 1rem;
	grid-template-columns: 1fr;

	&--columns-2 {
		grid-template-columns: repeat(2, 1fr);
	}

	&--columns-3 {
		grid-template-columns: repeat(3, 1fr);
	}

	&--columns-4 {
		grid-template-columns: repeat(4, 1fr);
	}

	&__item {
		box-shadow: 0 3px 4px 0 rgba(0,0,0,.05);
		border-radius: 0 0 4px 4px;
		background-color: #fff;
	}

	&__image {
		width: 100%;
		display: block;
		border-radius: 4px 4px 0 0;
	}

	&__title {
		margin: 0;
	}

	&__content {
		padding: 1rem;
	}

	&:has(.components-spinner) {
		text-align: center;
	}
}
